<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>To Do List</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <form action="/" method="POST">
    <input type="text" placeholder="To-Do">
    <button type="submit"></button>
  </form>
  <div>
    My To-Dos:
    <ul>
      <li></li>
    </ul>
  </div>

  <script src="/script.js"></script>
</body>
</html>