<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h2>TEST PAGE</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ex delectus qui error dolor pariatur harum eius temporibus, animi excepturi quo ab voluptate velit eum est in? Rerum, harum iure.</p>
  <p>
    List
    <ul>
      <li>Tea</li>
      <li>Coffee</li>
      <li>Transmission Fluid</li>
    </ul>
  </p> 
  <script src="/script.js"></script> 
</body>
</html>